<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Starter page</title>
</head>
<body>
<h2>Hello! Here's simple calculator.</h2>
<p>You should go to the link below and add parameters in the URL like this: http://localhost:8080/tools/calculator?firstInt=5&secondInt=3&actionType=addition</p>
<p>Where actionType might be: addition, subtraction, multiplication, division.</p>
<p>Values firstInt and secondInt might be every integer you want.</p>
<p>Enjoy!</p>
<a href="/tools/calculator">Start calculator</a>
</body>
</html>